/* Se eliminará cuando se haga merge */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&display=swap");
/* Hasta Aquí */

.container__CardResources {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Sora', sans-serif;
    gap: 12px;
}

.container__CardResources h2 {
    display: block;
}