.container__main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: 'Sora', sans-serif;
    padding: 0px 96px 0 202px;
}

.container__sideBar {
    position: fixed;
    left: -1px;
}

.container__main header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 55.5px 0px;
}

.container__main header form {
    position: relative;
    height: 100%;
}

.container__main header input {
    width: 399px;
    height: 48px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 2.5rem;
    font-family: inherit;
}

.container__main header button {
    position: absolute;
    left: 1%;
    top: 25%;
    font-size: 2rem;
    color: #989898;
    background-color: transparent;
    border: none;
}

.body_section {
    display: flex;
    gap: 115px;
    padding-bottom: 2rem;
}

.body_section img {
    display: block;
    width: 100%;
}

.body_section h3 {
    margin: 47px 0px 12px 0px;
}

.slider_news {
    display: flex;
    gap: 1rem;
}

.slider_resources {
    gap: 1rem;
    display: flex;
    border-radius: 10px;
}

.slider_resourcescontents {
    gap: 1rem;
    display: flex;
    background-color: #424242;
    border-radius: 10px;
}

.slider_resources h5 {
    padding: .5rem 1rem;
}

.slider_resources p {
    padding: .5rem 1rem;
}

.container_CardPlans {
    padding-top: 64px;
}