.container__card {
    display: flex;
    font-family: 'Sora', sans-serif;
    background-image: linear-gradient(50deg,
            hsl(0deg 0% 10%) 0%,
            hsl(33deg 11% 19%) 21%,
            hsl(34deg 24% 28%) 42%,
            hsl(33deg 36% 37%) 62%,
            hsl(33deg 48% 45%) 82%,
            hsl(33deg 61% 54%) 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    width: 100%;
    height: 334px;
    padding: 0rem 1rem;

}

.container_img {
    display: flex;
    width: 35%;
}

.container_phrases {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 83px 32px 0px 120px;
}

.container_phrases h2 {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 0;

}

.buttons_nextprev {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 2rem;
}

.buttons_nextprev button {
    display: flex;
    border-radius: 50%;
    border: none;
    padding: .5rem;
    background-color: transparent;
}

.buttons_nextprev button:hover {
    background-color: #212121;
}

.button_Slider {
    position: absolute;
    bottom: 6rem;
    right: 0;
    width: 249.29px;
    height: 46px;
    border-radius: 10px;
    padding: 14px, 24px, 14px, 24px;
    background-color: #D39245;
    border: none;
    font-family: inherit;
    cursor: pointer;
}